/* src/components/CategorySelection.module.css */

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  min-height: 100vh;
  background-color: #070596;
  background-size: cover;
  margin-top: 10px;

}

/* Form wrapper */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 400px;
  background-color: #c4c6cede;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(145, 59, 59, 0.1);
  margin-top: 10px;
}

/*    category type   */
.option1{
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
}

/*    difficulty level   */
.option2{
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
}


/*   quiz start button  */
.startQuizButton{
  background-color: rgb(255, 255, 255);
  color: #070596;
  font-size: 1rem;
  margin-top: 20px;
}

.startQuizButton:hover {
  background-color: #3fdbb4;
  transform: scale(1.03);
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .title {
    font-size: 1.7rem;
  }
  .form {
    padding: 15px;
  }
  .select {
    font-size: 0.95rem;
  }
  .button {
    font-size: 1rem;
  }
}
